<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.REQUEST_SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TesisApp"
        tools:targetApi="31">
        <activity
            android:name=".CompletarActivity"
            android:exported="false" />
        <activity
            android:name=".VideoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Usuario"
            android:exported="false" />
        <activity
            android:name=".EditarAlarmaDialog"
            android:exported="false" />
        <activity
            android:name=".CodigoActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroTutorActivity"
            android:exported="false" />
        <activity
            android:name=".SeleccionarPerfilActivity"
            android:exported="false" />

        <service
            android:name=".service.AlarmService"
            android:exported="false" />

        <receiver
            android:name=".service.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="uv.tc.tesisapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>